.controlButton {
  background-color: white;
  color: #1db954;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #1db954;
    color: white;
  }

  &.play {
    background-color: #1db954;
    color: white;
  }

  &.pause {
    background-color: #e74c3c; /* 일시 정지 버튼의 빨간색 */
    color: white;
  }
}

.errorMessage {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 10px;
}

.loadingMessage {
  color: white;
  font-size: 14px;
  margin-top: 10px;
}
.playerControls {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-color: #121212;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.trackInfo {
  width: 100%;
  max-width: 13rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 4px;
  }

  .trackDetails {
    .trackName {
      max-width: 10rem;
      height: 2rem;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      font-size: 16px;

      & > div {
        width: fit-content;
        color: #fff;
      }
    }

    .trackArtist {
      font-size: 14px;
      color: #b3b3b3;
    }
  }
  // .imgSkel {
  //   width: 50px;
  //   height: 50px;
  //   margin-right: 15px;
  //   border-radius: 4px;
  //   background-color: gray;
  // }

  // .trackDetails {
  //   .trackName {
  //     width: 5rem;
  //     height: 1rem;
  //     background-color: gray;
  //     font-weight: bold;
  //     font-size: 16px;
  //   }

  //   .trackArtist {
  //     font-size: 14px;
  //     color: #b3b3b3;
  //   }
  // }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
  .controlButton {
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #1ed760;
    }
  }
}
.controlsWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.controlPrev,
.controlNext {
  background-color: #1db954;
  color: black;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #1ed760;
  }
}
.controlImg {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.progressBar {
  width: 100%;
  height: 5px;
  background-color: #404040;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    height: 1rem;
  }

  .progress {
    height: 100%;
    background-color: #1db954;
    transition: all 0.1s;
  }
}
