@import "@/styles/main.scss";

.musicWrap {
  width: 47%;
  max-width: 50rem;
  padding: 4rem 2rem;
  height: 3rem;
  background-color: rgba($color: green, $alpha: 0.5);
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  & div {
    font-size: 1.2rem;
    color: #fff;
  }
}

.musicImg {
  width: 6rem;
  height: 6rem;
  position: relative;
}
.imgName {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
body .artistName {
  font-size: 1.4rem;
  font-weight: 600;
}
.artist {
  flex: 1;
}
.play {
  cursor: pointer;
}
