// 색상
$mainBlue: #1974e0;
$blue1: #78b6f4;
$blue2: #c7e6ff;

$mainGray: #31373f;
$gray1: #8d99aa;
$gray2: #bcc5d3;
$gray3: #e0e6ee;
$gray4: #f1f4f9;

$yellow1: #ffb400;
$yellow2: #ffeab7;

$red1: #ff4921;
$red2: #ffb2a2;
